*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
h1,ul {
    background-color: royalblue;
    color: aqua;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h1{
    border: solid darkred,8px;
    padding:13px;
    margin-bottom:30px;
    width:700px;
    text-align: center;
    margin:auto;
    font-size: 40px;
    font-weight: bold;
    
    
}
body{
    margin-top:20px;
}
ul{
    margin-top:20px;
    padding: 13px;
    border:solid darkred, 8px;
    width:800px;
    text-align: center;
    margin-left: 560px;
    
}